{% extends 'base.html.twig' %}

{% block title %}All programs
{% endblock %}

{% block body %}
	<h1>Toutes les séries de la table program :
	</h1>
	{% for program in programs %}
		<div>
			<h2>{{ program.id }}
				/
				{{ program.title }}
				- Catégorie :
				{{ program.category.name }}</h2>
			<p>{{ program.synopsis }}</p>
			{# Lien vers la fiche de la série : #}
			<a href="{{ path("program_show", { programSlug: program.slug }) }}">Voir la fiche</a>

			{% if is_granted("ROLE_ADMIN") %}
				<a href="{{ path('program_edit', { 'slug': program.slug} ) }}">Éditer</a>
			{% endif %}
		</div>
	{% else %}
		Aucune série trouvée.
	{% endfor %}

	<a href="{{ path('app_index') }}">
		Retour à l'accueil
	</a>
{% endblock %}
