{% extends 'base.html.twig' %}

{% block title %}Saison #{{ program.id }}
{% endblock %}

{% block body %}
	{{ program.title }}
	saison
	{{ season.number }}
</br>
{{ program.category.name }}</br>{{ program.synopsis }}<p>
{% for episode in season.episodes %}
	<div>
		<h2>Episode
			{{ episode.number }}
			:</h2>

		{# Lien vers l'épisode : #}

		<h3>
			<a href=" {{ path('public_episode_show', { episodeSlug: episode.slug }) }}">{{ episode.title }}</a>
		</h3>

		{{ episode.synopsis}}
	</br>

{% else %}
	Aucun épisode trouvé.
{% endfor %}</p><a href=" {{ path('program_show', { programSlug: program.slug } ) }}">
Retour à la fiche programme</a></p>{% endblock %}
